miniapp_data/modified_miniapp
miniapp_data/raw_data
miniapp_data/wxappUnpacker
miniapp_data/UnpackMiniApp.exe
miniapp_data/unveilr.exe
miniapp_data/unwxapkg.py
miniapp_data/error_data
miniapp_data/unveil_unpacked_data
miniapp_data/groundtruth